form{
    margin:auto;
    width:75%;
    height: 100%;
    padding-top: 50px;
    background-color: white;
}
input{
    width:100%;
    padding:7px;
    color: #3E5879;
    margin:10px 0;
}

.sq{
    display:block;
    width:100%;
    padding:5px;
}
button{
    background-color: #213555;
    border-color: #213555;
    color: white;
    padding: 10px 15px;
    margin-bottom:30px;
    margin-top:20px;
}
.hk p{
    margin-bottom: 30px;
}

.p{
    background-color: white;
}